// fonts
$HeadingFonts: "Giants-Inline";
$basicFonts: "Pretendard-Regular";

// line-height
$lineHeight-xs: 1rem; /* 16px */
$lineHeight-sm: 1.25rem; /* 20px */
$lineHeight-base: 1.5rem; /* 24px */
$lineHeight-lg: 1.75rem; /* 28px */
$lineHeight-2xl: 2rem; /* 32px */

// width
$maxWidth: 1200px;

// color
$backgroundColor: #0e1117;
$basicFontsColor: #f0f0f0;