@use "normalize";
@use "variables" as v;
@use "fonts";

body {
  background: v.$backgroundColor;
  color: v.$basicFontsColor;
  font-family: v.$basicFonts;
}

h1,
h2,
h3 {
  font-family: v.$HeadingFonts;
}
